html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--neutral-color);
  font-family: "Lexend Deca", sans-serif;
  color: var(--text-color);
  &.bg-opacity::before {
    transition: opacity 2s;
    position: absolute;
    content: "";
    background-color: #000;
    width: 100vw;
    height: 500vh;
    inset: 0;
    opacity: 0.3;
  }
}
