html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--neutral-color);
  font-family: 'Lexend Deca', sans-serif;
  color: var(--text-color);
  &.bg-opacity {
    overflow: hidden;
  }
  &.bg-opacity::before {
    transition: opacity 2s;
    position: fixed;
    content: '';
    background-color: #000;
    width: 100vw;
    inset: 0;
    opacity: 0.3;
    z-index: 10;
  }
}
