@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.button {
  display: inline-block;
  padding: 16px 0;
  background-color: var(--primary-color);
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  width: 100%;
  color: var(--neutral-color);
  box-shadow: 0 4px 4px #11555225;
  @include responsive(tablet) {
    width: fit-content;
    padding: 16px 32px;
  }
  &--form {
    border: none;
    @include responsive(tablet) {
      width: 100%;
    }
  }
  @include hover {
    background-color: var(--hover-color);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
