@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.icon-menu {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 1000;
  @include responsive(tablet) {
    display: none;
  }
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 111px;
  width: 264px;
  height: 100vh;
  background-color: var(--neutral-color);
  translate: 100%;
  transition: translate 0.5s;
  z-index: 100;
  &--show {
    translate: 0;
  }
  &__item {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    @include responsive(tablet) {
      width: 110px;
      border-bottom: none;
      border: 2px solid var(--primary-color);
      border-radius: 8px;
    }
  }
  &__link {
    font-family: 'Lilita One', sans-serif;
    font-size: 1.25rem;
    @include responsive(tablet) {
      font-family: 'Lexend Deca', sans-serif;
      font-size: 0.875rem;
      color: var(--primary-color);
    }
  }
  @include responsive(tablet) {
    position: absolute;
    translate: 0;
    flex-direction: row;
    gap: 1rem;
    width: 363px;
    height: auto;
    top: 40px;
    left: 357px;
    background-color: transparent;
  }
  @include responsive(laptop) {
    top: 48px;
    left: 1029px;
  }
}
.nav {
  @include responsive(tablet) {
    margin-left: auto;
  }
}
