@use "../mixins/responsive.scss" as *;
.text {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  &--l {
    margin-bottom: 32px;
    @include responsive(tablet) {
      font-size: 1.75rem;
    }
  }
  &--light {
    display: inline-block;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--neutral-color);
    padding: 16px 8px;
    border-radius: 8px;
    margin: 0;
  }
  &--m {
    font-size: 1rem;
    @include responsive(tablet) {
      font-size: 1.25rem;
    }
  }
  &--project {
    margin-bottom: 112px;
    @include responsive(laptop) {
      width: 768px;
      margin-inline: auto;
    }
  }
  &--footer {
    text-align: start;
    color: var(--neutral-color);
    margin-bottom: 0;
  }
}
